.lead-form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border:1px solid;
  padding:30px;
  border-radius:5px;
}

.lead-form input,
.lead-form textarea {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.lead-form button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
